{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}


	<form action="gestionAdherent">
		<input type="submit" value="Gestion adhérent" class="btn-flat btn-xlarge btn-lg btn-redFonce" />
	</form>

	<form action="empruntRetour">
		<input type="submit" value="Gestion Emprunt-Retour" class="btn-flat btn-xlarge btn-lg btn-redFonce"  />
	</form>

 	<form action="gestionDoc">
 		<input type="submit" value="Ajouter/Supprimer documents" class="btn-flat btn-xlarge btn-lg btn-redFonce"  />
	</form>
	
	<form action="ajoutTypeGenre">
		<input type="submit" value="Ajout types/genres" class="btn-flat btn-xlarge btn-lg btn-redFonce"  />
 	</form>

	<form action="retirerEmprunt">
		<input type="submit" value="Retirer emprunt" class="btn-flat btn-xlarge btn-lg btn-redFonce"  />
	</form>


{% endblock %}
