{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}
	<form class="form whiteSpace clearfix small-ib-12 medium-ib-7 offset-lg-ib-2 offset-md-ib-2 large-ib-7" action="." method="get">

		<div class="raw whiteSpace clearfix small-ib-6 medium-ib-10 large-ib-6 offset-lg-ib-3 offset-md-ib-1 offset-sm-ib-3"> 
			<h2>Id adherent: {{ adherent.id  }}</h2>
		</div>

		<p>Son email est : {{adherent.email}}</p>
		<p>Son mot de passe est : {{mdp}}</p>
		<div class="row whiteSpace clearfix small-ib-6 medium-ib-10 large-ib-6 offset-lg-ib-3 offset-md-ib-1 offset-sm-ib-3"> 
			<button type="submit">Retour</button>
		</div>

	</form>
{% endblock %}