{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}



	<div class="large-ib-6 medium-ib-12 whiteSpace">
		<h1>Ajout type</h1>

		<form action="ajoutType" method="POST" class="form whiteSpace clearfix">


			<div class="row whiteSpace">
				<label class="large-ib-4 medium-ib-4">Nom type</label>

				<input type="text" name="nomType" placeholder="Type" class="large-ib-8 medium-ib-8 small-ib-12" />
			</div>


			 <button class="textcenter" type="submit">Valider</button>

		</form>
	</div>


	<div class="large-ib-6 medium-ib-12 whiteSpace">
		<h1>Ajout genre</h1>

		<form action="ajoutGenre" method="POST" class="form whiteSpace clearfix">

		<div class="row whiteSpace">
			<label class="large-ib-4 medium-ib-4">Nom genre</label>
			<input class="large-ib-8 medium-ib-8 small-ib-12" type="text" name="nomGenre" placeholder="Genre">
		</div>


			 <button class="textcenter" type="submit">Valider</button>
		</form>
	</div>

{% endblock %}
