<!DOCTYPE html>
<html>

	<head lang="fr">
		{% block head %}
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <title>Intranet médianet</title>
		    <meta name="description" content="Intranet de medianet">
		    <meta name="viewport" content="width=device-width, initial-scale=1">

		  {% block css %} {% endblock %}
	    
	    {% endblock %}
	</head>

	<body>

		<div class="containerPage clearfix">


			<div class="addMargTopBotRow row flex flexLineCenter">
				{% block header %}
				<header class="header flexContent">
					{% block imgHeader %}
						
					{% endblock %}
					<h1 class="titreDesign flexContent">Medianet<h1>
				</header>

				
				{% endblock %}
			</div>

			<div class="row">
				{% block MenuBar %}

			
				{% endblock %}
			</div>

			<div class="pagePrincip small-f-12 medium-f-12 large-f-12 whiteSpace">
				{% block content %}
 	

				{% endblock %}
			</div>

		
			<footer class=" small-ib-12 medium-ib-12 large-ib-12 ">
				{% block footer %}
					<p>Medianet 2015 | Atelier LP 1</p>
				{% endblock %}
			</footer>
			
		</div>

	
	</body>
</html>
