
{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}


{% block content %}

	<div class="large-ib-5 medium-ib-6  small-ib-12 containerAnn " style="margin-bottom:5px;">
		<span class="blocImageA"><img src="{{doc.image}}" height="100%" width="auto"/></span>
	</div>



	<form enctype="multipart/form-data" class="form large-ib-7 medium-ib-6 small-ib-12 " method="POST" action="notifMod">

		<input type="hidden" name="id" value="{{id}}" />	

		<div class="row whiteSpace">
			<label class="disappearMd small-ib-12 medium-ib-5 large-ib-4">Référence</label>
			
			<input type="text" name="refDoc" class="= small-ib-12 medium-ib-7 large-ib-8" placeholder="Référence" value="{{doc.reference}}" />
			
		</div>

		<div class="row whiteSpace">

			<label class="disappearMd small-ib-12 medium-ib-5 large-ib-4">Titre</label>

			<input name="titreDoc" value="{{doc.titre}}" class="= small-ib-12 medium-ib-7 large-ib-8" placeholder="Titre" />
		</div>

		<div class="row whiteSpace">

			<label class="small-ib-12 medium-ib-5 large-ib-4">Contenu</label>

			<textarea name="contenuDoc" class="small-ib-12 medium-ib-7 large-ib-8" name="contenu" rows="6" placeholder="Texte de l'annonce .." >{{doc.descriptif}}</textarea>

		</div>


		<div class="row whiteSpace">
			<label class="small-ib-12 medium-ib-5 large-ib-4">Image : </label>
			<input type="hidden" name="MAX_FILE_SIZE" value="5097152" />

			<input type="file" name="fich" class="small-ib-12 medium-ib-7 large-ib-8"   />
		</div>

		<div class="row whiteSpace">

			<label class="disappearMd small-ib-12 medium-ib-5 large-ib-4">Genre</label>

			<select name="genre" id="genre" class="small-ib-12 medium-ib-7 large-ib-8">
				<option value="Tous">Tout (genre)</option>
				{% for genre in genres %}

					<option {% if doc.idGenre == genre.id %}selected="selected"{% endif %} value={{genre.id}}>{{genre.nomGenre}}</option>

				{% endfor %}
			</select>
		</div>

		<div class="row whiteSpace">

			<label class="disappearMd small-ib-12 medium-ib-5 large-ib-4">Type</label>
			
			<select name="type" id="type" class="small-ib-12 medium-ib-7 large-ib-8">
				<option value="Tous">Tout (type)</option>
				{% for type in types %}

					<option {% if doc.idType == type.id %}selected="selected"{% endif %} value={{type.id}}>{{type.nomType}}</option>

				{% endfor %}
			</select>
		</div>

		<button class="textcenter" type="submit">Valider</button>
	
	</form>

	<div class="row whiteSpace">
		<div class="large-ib-2 medium-ib-2">
			<input type="submit" value="Retour" onclick="history.go(-1)" class="btn btn-dt btn-blue " />
		</div>

		<div class="offset-lg-ib-7 offset-md-ib-7 large-ib-1 medium-ib-1">
			<form action="delDoc{{id}}" method="GET" >
				<input type="submit" value="Supprimer" class="btn btn-dt btn-red" />
			</form>
		</div>

	</div>

{% endblock %}