{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}



	<div class="large-ib-6 medium-ib-12 whiteSpace">
		<h1>Emprunt</h1>

		<form action="emprunt" method="POST" class="form whiteSpace clearfix">


			<div class="row whiteSpace">
				<label class="large-ib-4 medium-ib-4">Référence(s)</label>

				<input type="text" name="refDoc" placeholder="Saisir les références séparées d'une virgule" class="large-ib-8 medium-ib-8 small-ib-12" />
			</div>

			<div class="row whiteSpace">
				<label class="large-ib-4 medium-ib-4">N° Adhérent</label>
				<input type="text" name="numAdher" class="large-ib-8 medium-ib-8 small-ib-12" placeholder="Saisir N° Adhérent" required/>
			</div>


			 <button class="textcenter" type="submit">Valider</button>

		</form>
	</div>


	<div class="large-ib-6 medium-ib-12 whiteSpace">
		<h1>Retour</h1>

		<form action="retour" method="POST" class="form whiteSpace clearfix">

		<div class="row whiteSpace">
			<label class="large-ib-4 medium-ib-4">Référence(s)</label>
			<input class="large-ib-8 medium-ib-8 small-ib-12" type="text" name="refDoc" placeholder="Saisir les références séparées d'une virgule">
		</div>


			 <button class="textcenter" type="submit">Valider</button>
		</form>
	</div>

{% endblock %}
