{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}

	<div class="row large-ib-8 medium-ib-8">

		<h3>Nombre d'emprunt : <strong>{{emprunts|length}}</strong></h3>
		<div class="table">
			<table>
				<tr>
					<td> N° Adhérent </td>
					<td> Référence </td>
					<td> Documents </td>
					<td> Date Emprunt </td>
					<td> Date Retour </td>
				</tr>

				
				
				{% for emprunt in emprunts %}
					<tr>
						<td>{{adherent}}</td>
						<td>{{emprunt.document.reference}}</td>
						<td>{{emprunt.document.titre}}</td>
						<td>{{emprunt.dateDebut }}</td>
						<td>{{emprunt.dateRetour }}</td>
					</tr>
					
				{% endfor %}
				
			</table>
		</div>

		<form action="home">
			<input type="submit" value="Retour" class="btn btn-sm btn-red " />
		</form>
		

	</div>


{% endblock %}