{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}


		<div class="whiteSpace clearfix small-ib-12 medium-ib-12 large-ib-6">

			<form class="row form clearfix" action="addAdherent" method="POST">

				<h2> Ajout adhérent </h2>
				<div class="row whiteSpace">
					<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Nom</label>
					
					<input required type="text" name="nomA" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="Nom adhérent" /> 
				</div>

				<div class="row whiteSpace">
					<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Prénom</label>
					
					<input required type="text" name="prenomA" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="Prénom adhérent" />
				</div>

				<div class="row whiteSpace">
					<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Email</label>
					
					<input required type="email" name="mailA" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="email@exemple.com" />
				</div>

				<div class="row whiteSpace">
					<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Mot de passe</label>
					
					<input required type="password" name="passwordA" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="Mot de passe"  />
				</div>

				<button class="textcenter" type="submit">Valider</button>

			</form>

		</div>

		<div class="whiteSpace clearfix small-ib-12 medium-ib-12 large-ib-6">

			<form class="form row clearfix" action="modAdherent" method="post">

				<h2> Modification adhérent </h2>
				<p class="textright"><em>Complétez l'ID Adhérent et les champs que vous souhaitez modifier</em></p>
				<div class="row whiteSpace">
					<label class="disappearMd  small-ib-12 medium-ib-3 large-ib-3">ID Adhérent</label>

					<input type="number" name="idAdherentM" id="idAdherentM" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="A compléter" required/>
				</div>
				<div class="row whiteSpace">
					<label class="disappearMd  small-ib-12 medium-ib-3 large-ib-3">Nom</label>

					<input type="text" name="nomM" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="Complétez si nécessaire" />
				</div>
				<div class="row whiteSpace">
					<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Prénom</label>

					<input type="text" name="prenomM" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="Complétez si nécessaire" />
				</div>
				<div class="row whiteSpace">
					<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Email</label>
					
					<input type="email" name="mailM" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="Complétez si nécessaire" />
				</div>
				<div class="row whiteSpace">
					<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Mot de passe</label>
					
					<input type="text" name="passwordM" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="Complétez si nécessaire" />
				</div>

				<button class="textcenter" type="submit">Valider</button>

			</form>

		</div>

		<div class="whiteSpace clearfix small-ib-12 medium-ib-12 large-ib-6 offset-lg-ib-3">

			<form class="form row clearfix" action="delAdherent" method="POST">

				<h2> Suppression adhérent </h2>

				<div class="row whiteSpace">
					<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">ID Adhérent</label>
					
					<input type="number" name="idAdherentS" id="idAdherentS" class="small-ib-12 medium-ib-8 large-ib-9" placeholder="ID Adhérent" required />
				</div>

				<button class="textcenter" type="submit">Valider</button>

			</form>

		</div>


{% endblock %}
