{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}

<form enctype="multipart/form-data" class="form whiteSpace clearfix small-ib-12 medium-ib-12 large-f-6" action="notifAjout" method="POST">

	<h2> Ajout </h2>


	<div class="row whiteSpace">

		<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Référence</label>
		
		<input type="text" name="refDoc" class="= small-ib-12 medium-ib-9 large-ib-9" placeholder="Référence">
		
	</div>

	<div class="row whiteSpace">

		<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Titre</label>
		
		<input type="text" name="titreDoc" class="= small-ib-12 medium-ib-9 large-ib-9" placeholder="Titre">
		
	</div>

	<div class="row whiteSpace">

		<label class="small-ib-12 medium-ib-3 large-ib-3">Contenu : </label>

		<textarea name="contenuDoc" class="small-ib-12 medium-ib-9 large-ib-9" name="contenu" rows="10" placeholder="Texte de l'annonce .."></textarea>

	</div>

	<div class="row whiteSpace">
		<label class="small-ib-12 medium-ib-3 large-ib-3">Image : </label>

		<input type="hidden" name="MAX_FILE_SIZE" value="5097152" />

		<input class="small-ib-12 offset-md-ib-3 medium-ib-9 large-ib-9 offset-lg-ib-3" type="file" name="fic1"  />
	</div>



	<div class="row whiteSpace">
		<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Type</label>
		
		<select name="type" id="types" class="small-ib-12 medium-ib-9 large-ib-9">
			<option value="Tous">Tous (type) </option>
			{% for type in types %}

				<option value={{type.id}}>{{type.nomType}}</option>
			
			{% endfor %}
		</select>
	</div>
	
	<div class="row whiteSpace">
		<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Genre</label>

		<select name="genre" id="genres" class="small-ib-12 medium-ib-9 large-ib-9">
			<option value="Tous">Tout (genre)</option>
			{% for genre in genres %}

				<option value={{genre.id}}>{{genre.nomGenre}}</option>

			{% endfor %}
		</select>
	</div>

	<div class="row whiteSpace">
		<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Etat</label>

		<select name="etat" id="etats" class="small-ib-12 medium-ib-9 large-ib-9">
			<option value="Tous">Tout (etat)</option>
			{% for etat in etats %}

			{% if etat.id == 1 or etat.id == 3 %}
				<option value={{etat.id}}>{{etat.nomEtat}}</option>

				{% endif %}
			{% endfor %}
		</select>
	</div>

	
	<button class="textcenter" type="submit">Valider</button>
	

</form>



<div class=" whiteSpace clearfix small-ib-12 medium-ib-12 large-f-6">
	
	<h2>Modifications / Suppresions</h2>
	
		{% for doc in docs %}
			<div class="containerAnn large-ib-3 medium-ib-6 offset-sm-ib-1 small-ib-10">
				<a href="mod-document{{doc.id}}">
					<h4>{{doc.titre|capitalize }}</h4>
					<div class="blocImage">
						<span><img src="{{doc.image}}"/></span>
					</div>
				</a>
			</div>
		{% endfor %}



</div>


{% endblock %}
			