{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}

	<div class="alert {{coulAlert}}">
		<h3>{{titreAlert}}</h3>
		<p>{{msg}}</p>


	</div>

	{% if titreAlert != "Succès" %}

	<div class="large-ib-4 medium-ib-4">
			<input type="submit" value="Précédent" onclick="history.go(-1)" class="btn btn-dt btn-red " />
	</div>

	{% endif %}
	
	<div class="large-ib-4 medium-ib-4">
		<form action="home" method="GET">
			<input type="submit" value="Accueil" class="btn btn-dt btn-red " />
		</form>
	</div>

	
	



{% endblock %}
