{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}

{% block content %}

	<div class="row large-ib-8 medium-ib-8">

		<h3>Nombre de retours : <strong>{{docRetour|length}}</strong></h3>
		<div class="table">
			<table>
				<tr>
					<td> N° Adhérent </td>
					<td> Référence </td>
					<td> Documents </td>
					<td> Date Emprunt </td>
					<td> Date Retour </td>
				</tr>

				<tr>
					<td> Retour(s) : </td>
					<td>  </td>
					<td> </td>
					<td>  </td>
					<td>  </td>
				</tr>
				
				{% for docR in docRetour %}
					<tr>
						<td>{{docR.idAdherent}}</td>
						<td>{{docR.document.reference}}</td>
						<td>{{docR.document.titre}}</td>
						<td>{{docR.dateDebut }}</td>
						<td>{{docR.dateRetour }}</td>
					</tr>
					
				{% endfor %}

				<tr>
					<td> Emprunt(s) :</td>
					<td>  </td>
					<td> </td>
					<td>  </td>
					<td>  </td>
				</tr>
				
				{% for docE in docEmprunt %}
					<tr>
						<td>{{docE.idAdherent}}</td>
						<td>{{docE.document.reference}}</td>
						<td>{{docE.document.titre}}</td>
						<td>{{docE.dateDebut }}</td>
						<td>{{docE.dateRetour }}</td>
					</tr>
					
				{% endfor %}
				
			</table>
		</div>

		<form action="home">
			<input type="submit" value="Retour" class="btn btn-sm btn-red " />
		</form>
		

	</div>


{% endblock %}