body{
	z-index:100;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	width:$widthBody;
	color:$colorBody;
}

.containerPage{
	width:$widthBody;
	background-image: url("../img/fond2.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.pagePrincip{
	padding:1rem 0;
	vertical-align:top;
	@include border-radius(10px);
	min-height: 100vh;
	
}



.containerAnn{
	width: 100%;	
	& > a{
		@include border-radius(3px);
		padding: 0.5rem;
		display:block;
		text-decoration: none;
		color:white;
		
		
		&:hover{
			background: #6A6A6A;
		}
	

		& .blocImage{
			max-width: 80%;
			margin-left:10%;
			img{
				position: relative;
				left:10%;
				width:80%;
				height:80%;
			}
		}
		& > span{
			white-space: nowrap;
			font-size:$fontP - 0.4;

			& > img{
				width: 15%;
				height:15%;
			}
		}
	}
}


.blockSearch{
	padding:1rem 2rem;
}

.blocImageA{
	
	& > img{
		position: relative;
		left:10%;
		width:80%;
		height:80%;
	}
}

.blocCarac{
	
	overflow-y:auto;
	overflow-x:hidden;
	
	@media screen and (min-width: 55rem){
		max-height:21rem;	
	}
	& p{
		border-left: solid 4px #FF4A4A ;
		padding: 0 1rem;
	}
}

.blocContact{
	& > h3{
		text-align: left;
	}
	padding:0.5rem;
	@include border-radius(5px);
	background: #636363; 
}




