 /* Form wrapper styling */
.form {
    width: 100%;
    padding: 1rem;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);


/* Form text input */

    input {

        padding: 5px 5px; margin-bottom: 16px;
        font-family: 'lucida sans', 'trebuchet MS', 'Tahoma';
        font-weight: 600;
        border: 0; 
        background: #eee;
        border-radius: 3px 0 0 3px;   

        &[type=file]{
            background: none;
        } 

        &::focus {
            outline: 0;
            background: #fff;
            box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        }

        &::-webkit-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        &::-moz-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }

        &:-ms-input-placeholder {
            color: #999;
            font-weight: normal;
            font-style: italic;
        }
    }



    /* Form submit button */
    button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);

        &:hover{        
            background: #e54040;
            &:before{
                border-right-color: #e54040;
            }
        }

        &:active,
        &:focus{   
            background: #c42f2f;
            outline: 0;
        }

        &:active:before,
        &:focus:before{
             border-right-color: #c42f2f;
        }

        &:before { /* left arrow */
            content: '';
            position: absolute;
            border-width: 8px 8px 8px 0;
            border-style: solid solid solid none;
            border-color: transparent #d83c3c transparent;
            top: 12px;
            left: -6px;
        }
        &::-moz-focus-inner { 
            border: 0;
            padding: 0;
        }
    }

    select {
        // width:100%;
        padding:3px; margin-bottom: 16px;
        @include border-radius(4px);
        @include box-shadow(0 3px 0 #ccc, 0 -1px #fff inset);
        @include appearance(none);
        background: #f8f8f8;
        color:#888;
        border:none;
        outline:none;
        display: inline-block;
        cursor:pointer;
    }

    textarea{
        font-family: 'lucida sans', 'trebuchet MS', 'Tahoma';
        font-weight: 600;
    }


    .arrowSelect{
        position:relative;
        &:after {
            content:'<>';
            font:11px "Consolas", monospace;
            color:#aaa;
            -webkit-transform:rotate(90deg);
            -moz-transform:rotate(90deg);
            -ms-transform:rotate(90deg);
            transform:rotate(90deg);
            right:8px; top:2px;
            padding:0 0 2px;
            border-bottom:1px solid #ddd;
            position:absolute;
            pointer-events:none;
        }
        &:before {
            content:'';
            right:6px; top:0px;
            width:20px; height:20px;
            background:#f8f8f8;
            position:absolute;
            pointer-events:none;
            display:block;
        }
    }
    

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        select {
            padding-right:18px;
        }
    }
}






