*, *:before, *:after {
  @include box-sizing(border-box);
}

h1,h2,h3,h4,h5,h6{
	color:$colorH1H6;
	font-family: Arial;
	font-weight: 600;
	margin-bottom:1.5rem;
	margin-top:1rem;
	text-align:center;
}

h1{
	font-size:$fontH1;
} 

h2{
	font-size:$fontH2;
}

h3{
	font-size:$fontH3;
}

h4{
	font-size:$fontH4;
}

h5{
	font-size:$fontH5;
}

h6{
	font-size:$fontH6;
}

/***  LES SOUS-TITRES ***/
small{
	font-size: $small;
}

h1.sub{
	font-size: $subfontH1;
}

h2.sub{
	font-size: $subfontH2;
}

h3.sub{
	font-size: $subfontH3;
}

h4.sub{
	font-size: $subfontH4;
}

h5.sub{
	font-size: $subfontH5;	
}

h6.sub{
	font-size: $subfontH6;
}

/*** PARAGRAPHE ***/

p{
	font-size: 14px;
	margin-bottom:16px;
	text-align: justify;
}




/**** Les petite balise mark, strong, em, u, ****/

mark{
	background-color:#5AB3E7;
	color:black;
	padding:0 2px;
}
strong{
	font-weight:bold;
}
em{
	font-style: italic;
}
abbr{
	border-bottom:dotted 1px black;
	cursor:help;
}
u{
	text-decoration:underline;
}

/**** Quote,  blockquote, code  ****/



q{
	font-style:italic;
	quotes: "\201C""\201D""\2018""\2019";
	&:before{

		content: open-quote;
		color: #ccc;
		font-size: 1.5rem;
		@media (min-width:35em){
			font-size:2rem;
		}
		@media (min-width:55em){
			font-size: 2.5rem;
		}
	}

	&:after{

		content: close-quote;
		color: #ccc;
		font-size: 1.5rem;
		@media (min-width:35em){
			font-size:2rem;
		}
		@media (min-width:55em){
			font-size: 2.5rem;
		}
	}
}

blockquote {
	background: #B78251;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 1em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	:before {
		color: #ccc;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}
	p {
		display: inline;
	}
}



code{
	font-family:monospace;
	white-space:pre-wrap;
}

pre{
	overflow-x:auto;
}


.syntaxhighlighter{
	margin:1em;
	padding:10px;
	max-height:15rem;
	overflow:auto;
}


kbd{
	font-family:Consolas;
	color:green;
	border-radius:2px;
	padding:2px;
	background-color:#C9C7C7;
	box-shadow: 0px 3px 1px #AFAFAF;
}


/**** Les listes ****/


ul {
	padding:1rem 0;
	@include inline-block;
	font-size:$fontP;
	list-style-position: inside;

}
ul.square{
	list-style-type: square;
}

ul.sansDeco{
	list-style: none;
}

ul.circle{
	list-style-type: circle;
}

ul.disc{
	list-style-type: disc;
}
ul.decimal{
	list-style-type: decimal;
}
ul.alpha{
	list-style-type: upper-alpha;
}
ul.roman{
	list-style-type: upper-roman;
}


/** ALIGNEMENT & Transformation */

.textcenter{
	text-align: center;
}

.textleft{
	text-align: left;
}

.textright{
	text-align: right;
}

.textjustified{
	text-align: justify;
}

.textmajuscule{
	text-transform: uppercase;
}

.textminuscule{
	text-transform:lowercase;
}


/**  Tableaux **/

.table {
	margin:0px; padding:0px;
	width:100%;
	@include box-shadow(#888888 10px 10px 5px);
	border:1px solid #3f7f00;
	table{
		border-collapse: collapse;
		border-spacing: 0;
		width:100%;
		height:100%;
		margin:0px;padding:0px;

	}

	tr:hover td{
		color:#5A5A5A;
		background:#ebffd8;
	}

	td{
		vertical-align:middle;
		background:-o-linear-gradient(bottom, #d4ffaa 5%, #ebffd8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4ffaa), color-stop(1, #ebffd8) );
		background:-moz-linear-gradient( center top, #d4ffaa 5%, #ebffd8 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4ffaa", endColorstr="#ebffd8");	background: -o-linear-gradient(top,#d4ffaa,ebffd8);

		background:#d4ffaa;

		border:1px solid #3f7f00;
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:7px;
		font-size:10px;
		font-family:Arial;
		font-weight:normal;
		color:#000000;
	}

	tr:last-child td{
		border-width:0px 1px 0px 0px;
	}
	tr td:last-child{
		border-width:0px 0px 1px 0px;
	}

	tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}

	tr:first-child td{
		background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
		background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);

		background-color:#5fbf00;
		border:0px solid #3f7f00;
		text-align:center;
		border-width:0px 0px 1px 1px;
		font-size:14px;
		font-family:Arial;
		font-weight:bold;
		color:#ffffff;
	}

	tr:first-child td:first-child{
		border-width:0px 0px 1px 0px;
	}
	tr:first-child td:last-child{
		border-width:0px 0px 1px 1px;
	}
}
