@mixin grille-colonne($cols,$numCols){
		@include box-sizing(border-box);
		font-size: 16px;
		@include inline-block;
		vertical-align:top;
		@if $cols==1{
			width: $cols * ((100% - ($numCols*2))/$numCols);
		}	
		@else{
			width: ($cols * ((100% - ($numCols*2))/$numCols) + 2*($cols - 1));
		}
		margin: 0 1%;
}

@mixin grille-offset($cols, $numCols){
	 margin-left: $cols * ((100% - ($numCols*2))/$numCols) + $cols*2;
}



/* small */
@for $cols from 1 to $nbCols+1{
	.small-ib-#{$cols}{
		@include  grille-colonne($cols,$nbCols);
	}
}
@for $cols from 1 to $nbCols{
	.offset-sm-ib-#{$cols}{
		@include grille-offset($cols,$nbCols);
	}
}


/* medium */
@for $cols from 1 to $nbCols+1{
	.medium-ib-#{$cols}{
		@media screen and (min-width:35em){
			@include  grille-colonne($cols,$nbCols);
		}
	}
}
@for $cols from 1 to $nbCols{
	.offset-md-ib-#{$cols}{
		@media screen and (min-width:35em){
			@include grille-offset($cols,$nbCols);
		}
	}
}



/* large */
@for $cols from 1 to $nbCols+1{
	.large-ib-#{$cols}{
		@media screen and (min-width:55em){
			@include  grille-colonne($cols,$nbCols);
		}
	}
}
@for $cols from 1 to $nbCols{
	.offset-lg-ib-#{$cols}{
		@media screen and (min-width:55em){
			@include grille-offset($cols,$nbCols);
		}
	}
}

