.jumbotron{
	margin-left:10%;
	text-align:center;
	width:$widthJumbotron;
	
	background-color: $backColorJumbotron;
	text-align: center;
	vertical-align: middle;
	padding:20px;
	font-family:arial;

	@include border-radius(10px);

}