nav{

	ul{
		@include display-flex;
		@include flex-direction(column);
		padding:0;
		max-width: $widthNavBar;
		& > li{
    		text-align: center;
			& > a {
				display:block;
				font-weight: 500;	
				font-size: $fontP;
				font-family: Arial;
				text-decoration: none;
			    padding:0.3em;
			    color:white;
			}
		}
	}
}

.navbarMenu{
	ul{
		background:$backColorNavBar;
		@media screen and (min-width:55em){
			@include flex-direction(row);
		}
		& > li{
			@include flex-grow(1);
			

			@media screen and (min-width:55em){
				&:hover{
					background-color: $backColorNavBarLiHover;
				}
			}
			& > a {
				font-weight: 600;
				line-height: 2rem;
			}
		}

		& > .active{
			background-color:$backColorNavBarLiActive;
		}
		& > .disabled{
			background-color:$backColorNavBarLiDisabled;
			pointer-events:none;
		}
	}
}


.navbarHead{
	ul{
		background: #444;
   		background: rgba(0,0,0,.2);
	    border-radius: 10px;
	    @media screen and (min-width:55em){
			@include flex-direction(row);
		}
	   	@include box-shadow(0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2));
		@include border-radius(3px 3px 3px 3px);
		& > li{
			font-weight:500;
			@include flex-grow(1);
			line-height: 2rem;
			@media screen and (min-width:55em){
				&:hover{
					background-color: $backColorNavBarLiHover;
				}
			}
		}
	}
}


.navbarVertical{
	background: $backColorVerticalUl;
	position:fixed;
	bottom:0;
	top:180px;
	overflow-y:auto;

	& > ul{
		
		& > li{
			// font-weight: 600;
			line-height: 3rem;
			text-align: center;
			border-bottom: solid 1px grey;
			& > a {
			}
			&:hover{
				background-color: $backColorNavBarLiHover;
				cursor:pointer;
			}
		}
	}
}



// Fil d'ariane

.breadcrumb{
	background: #D3D0D0;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5 #e5e5e5 #ccc;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	overflow: hidden;
	width: 100%;
	li {

		float: left;

		a {
			padding: .7em 1em .7em 2em;
			float: left;
			text-decoration: none;
			color: #444;
			position: relative;
			text-shadow: 0 1px 0 rgba(255,255,255,.5);
			background-color: #ddd;
			background-image: linear-gradient(to right, #f5f5f5, #ddd); 
			&:hover{
	  			background: #fff;
	  			&::after{
					border-left-color: #fff;
				}	
			} 
			&::after,&::before{
				content: "";
				position: absolute;
				top: 50%;
				margin-top: -1.5em;   
				border-top: 1.5em solid transparent;
				border-bottom: 1.5em solid transparent;
				border-left: 1em solid;
				right: -1em;
			}
			&::before{
			 	border-left-color: #ccc;  
			 	right: -1.1em;
			 	z-index: 1; 
			}

			&::after{ 
				z-index: 2;
				border-left-color: #ddd;  
			}
		}

		&:first-child a{
			padding-left: 1em;
			border-radius: 5px 0 0 5px;
		}
	}

	.current,.current:hover{
		font-weight: bold;
		background: none;
	}

	.current::after,.current::before{
		content: normal; 
	}	
}