
.pagination{
	@include display-flex;
	@include flex-direction(column);
	@media screen and (min-width:35em){
		@include flex-direction(row);
	}
	& > li{
		@media screen and (min-width:35em){
			@include justify-content(center);
			width:5rem;
			@include flex-grow(1);
		}
		
		@include flex-basis(1rem);
		@include flex-grow(4);
		text-align: center;
		margin:10px; 
		& > a { 
			display:block;
			border-radius: 3px;
			font-family: Arial;
			text-decoration: none;
			color: #717171;
		    background-color: $backColorPaginationLi;
		    line-height: 2.5em;

		    padding: 0px 100px;
		    font-size: $fontP;

		    @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 0 1px);
		    @include text-shadow(rgba(255, 255, 255, 1) 0 1px 0);

		    @media (min-width:35em){
		    	font-size: 1.3rem;
		    	padding: 0px 20px;
		    }
			&:hover{
				@media (min-width:45em){
					background-color: $backColorNavBarLiHover;
				}

			}
		}
		& > .disabled{
			background-color:$backColorNavBarLiDisabled;
			&:hover{
				background-color:$backColorNavBarLiDisabled;
				cursor:default;
			}
		}
		& > .active{
			background-color:$backColorNavBarLiActive;
		}
	}

}



