{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}

{% block gestion %} {% if session  != null %} <li><a href="gestionEmprunt{{session.adheid}}">Gestion emprunt</a></li>{% endif %}{% endblock %}


{% block menunavbar %}
	<li><a href="home">Accueil</a></li>
	<li><a href="recherche">Recherche</a></li>
{% endblock %}

{% block connex %}{% if session  != null %}<li><a href="notifDeconnex">Deconnexion</a></li>{% else %}<li><a href="connexion">Connexion</a></li>{% endif %}{% endblock %}

{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}


{% block menubar %}

{{ parent() }}

{% endblock %}



{% block content %}
	
	{% if session != null  %}
		pass
		<p class="row textright">Bonjour, {{session.nom|upper}} {{session.prenom|capitalize}} </p>
	{% endif %}
	<h1>Documents récents</h1>

	{% for doc in docs %}

	<div class="containerAnn large-ib-3 medium-ib-6 offset-sm-ib-1 small-ib-10">
		<a href="document{{doc.id}}">
			<h3>{{doc.titre|capitalize }}</h3>
			<div class="blocImage">
				<span><img src="{{doc.image}}"/></span>
			</div>
		</a>
	</div>
	
	{% endfor %}


{% endblock %}