{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}


{% block menunavbar %}
	<li><a href="home">Accueil</a></li>
	<li><a href="recherche">Recherche</a></li>
{% endblock %}

{% block gestion %} {% if session  != null %} <li><a href="gestionEmprunt{{session.adheid}}">Gestion emprunt</a></li>{% endif %}{% endblock %}

{% block connex %}{% if session  != null %}<li><a href="notifDeconnex">Deconnexion</a></li>{% else %}<li><a href="connexion">Connexion</a></li>{% endif %}{% endblock %}

{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}


{% block menubar %}

{{ parent() }}

{% endblock %}


{% block content %}

<h2> Connexion </h2>

  	<form enctype="multipart/form-data" id="ajout" method="post" action="notifConnex" class="offset-md-ib-1 medium-ib-10 offset-lg-ib-1 large-ib-10 form whiteSpace clearfix">

	    <div class="small-ib-12 medium-ib-12 offset-lg-ib-2 large-f-12">

			<div class="row whiteSpace textcenter">
				<label class="small-ib-12 medium-ib-4 large-ib-3">Votre ID adhérent :</label>
				<input  class="small-ib-12 medium-ib-8 large-ib-9" type="number" name="idAdherent" placeholder="ID">
			</div>

			<div class="row whiteSpace textcenter">
				<label class="small-ib-12 medium-ib-4 large-ib-3">Mot de passe :</label>
				<input  class="small-ib-12 medium-ib-8 large-ib-9" type="password" name="mdpAdh" placeholder="Mot de passe ..">
			</div>

		</div>

	    <button class="textcenter" type="submit">Valider</button>


	</form>


{% endblock %}