{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}

{% block menunavbar %}
	<li><a href="home">Accueil</a></li>
	<li><a href="recherche">Recherche</a></li>
{% endblock %}

{% block gestion %} {% if session  != null %} <li><a href="gestionEmprunt{{session.adheid}}">Gestion emprunt</a></li>{% endif %}{% endblock %}

{% block connex %}{% if session  != null %}<li><a href="notifDeconnex">Deconnexion</a></li>{% else %}<li><a href="connexion">Connexion</a></li>{% endif %}{% endblock %}

{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}


{% block menubar %}

{{ parent() }}

{% endblock %}



{% block content %}

	<div class="large-ib-5 medium-ib-6  small-ib-12 containerAnn " style="margin-bottom:5px;">
		<span class="blocImageA"><img src="{{documents.image}}" height="100%" width="auto"/></span>
	</div>

	<div class="form large-ib-7 medium-ib-6 small-ib-12 containerAnn">
		<h2>{{documents.titre}}</h2>
		<p><strong>Type :</strong> {{documents.Type.nomType}}</p>
			<p><strong>Description :</strong> {{documents.descriptif}}</p>

			<p>
			<strong>Disponibilité :</strong> 
			{% if documents.idEtat == 2 %} 
				{{documents.Etat.nomEtat}} jusqu'au {{emprunt.dateRetour}} 		
			{% elseif reserver == 0 %}
				Réservé jusqu'au {{ documents.reservation }}
			{% else %} 
				{{documents.Etat.nomEtat}} 
			{% endif %}
			</p>

		{% if reserver == 1  %}

		<form action="reserver{{ documents.id }}" method="post">
		 	<button  type="submit">Réserver</button>
		</form> 

		{% endif %}

		</div>
{% endblock %}
