{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}

{% block menunavbar %}
	<li><a href="home">Accueil</a></li>
	<li><a href="recherche">Recherche</a></li>
{% endblock %}

{% block gestion %} {% if session  != null %} <li><a href="gestionEmprunt{{session.adheid}}">Gestion emprunt</a></li>{% endif %}{% endblock %}

{% block connex %}{% if session  != null %}<li><a href="notifDeconnex">Deconnexion</a></li>{% else %}<li><a href="connexion">Connexion</a></li>{% endif %}{% endblock %}



{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}


{% block menubar %}

{{ parent() }}

{% endblock %}


{% block content %}

<div class="row large-ib-8 medium-ib-8">

		<h3>Nombre d'emprunt : <strong>{{emprunts|length}}</strong></h3>
		<div class="table">
			<table>
				<tr>
					<td> N° Adhérent </td>
					<td> Référence </td>
					<td> Documents </td>
					<td> Date Emprunt </td>
					<td> Date Retour </td>
					<td>Accès</td>
				</tr>

				
				
				{% for emprunt in emprunts %}
						
					<tr>	
						
						<td>{{session.adheid}}</td>
						<td>{{emprunt.document.reference}}</td>
						<td>{{emprunt.document.titre}}</td>
						<td>{{emprunt.dateDebut }}</td>
						<td>{{emprunt.dateRetour }}</td>
						<td><a href="document{{emprunt.document.id}}">
						Voir</a></td>
					</tr>
				
				{% endfor %}
				
			</table>
		</div>

		<form action="home">
			<input type="submit" value="Retour" class="btn btn-sm btn-red " />
		</form>
		

	</div>


{% endblock %}