{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}

{% block menunavbar %}
	<li><a href="home">Accueil</a></li>
	<li><a href="recherche">Recherche</a></li>
{% endblock %}

{% block gestion %} {% if session  != null %} <li><a href="gestionEmprunt{{session.adheid}}">Gestion emprunt</a></li>{% endif %}{% endblock %}

{% block connex %}{% if session  != null %}<li><a href="notifDeconnex">Deconnexion</a></li>{% else %}<li><a href="connexion">Connexion</a></li>{% endif %}{% endblock %}

{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}


{% block menubar %}

{{ parent() }}

{% endblock %}


{% block content %}
	
	<div class="alert {{coulAlert}}">
		<h3>{{titreAlert}}</h3>
		<p>{{msg}}</p>
		
		
	</div>
	<div class="">
			<input type="submit" value="Retour" onclick="history.go(-1)" class="btn btn-dt btn-red " />
	</div>



{% endblock %}