{% extends "base.twig" %}

{% block css %} <link rel="stylesheet" href="css/allDesign.css"/>{% endblock %}

{% block imgHeader %}<a href="home"><img src="img/logo_m.png" class="flexContent"></a>{% endblock %}

{% block menunavbar %}
	<li><a href="home">Accueil</a></li>
	<li><a href="recherche">Recherche</a></li>
{% endblock %}

{% block gestion %} {% if session  != null %} <li><a href="gestionEmprunt{{session.adheid}}">Gestion emprunt</a></li>{% endif %}{% endblock %}

{% block connex %}{% if session  != null %}<li><a href="notifDeconnex">Deconnexion</a></li>{% else %}<li><a href="connexion">Connexion</a></li>{% endif %}{% endblock %}

{% block head %}

{{ parent() }}

{% endblock %}


{% block header %}

{{ parent() }}

{% endblock %}


{% block menubar %}

{{ parent() }}

{% endblock %}




{% block content %}

<form class="form whiteSpace clearfix small-ib-12 medium-ib-12 large-f-5" action="rechercheResult" method="POST">

	<input type="hidden" name="page" value="{{idPage}}">
	<div class="row whiteSpace">

		<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Type</label>
		<select name="types" id="types" class="small-ib-12 medium-ib-9 large-ib-9">
			<option value="0">Tous (type) </option>
			{% for type in types %}

				<option 
				{% if typeDoc == type.id %}
				selected 
				{% endif %} value={{type.id}}>{{type.nomType}}</option>
			
			{% endfor %}
		</select>
	</div>
	
	<div class="row whiteSpace">
		<label class="disappearMd small-ib-12 medium-ib-3 large-ib-3">Genre</label>
		<select name="genres" id="genres" class="small-ib-12 medium-ib-9 large-ib-9">
			<option value="0">Tout (genre)</option>
			{% for genre in genres %}

				<option {% if genreDoc == genre.id %}selected="selected"{% endif %} value={{genre.id}}>{{genre.nomGenre}}</option>

			{% endfor %}
		</select>
	</div>


	<input type="text" name="rech-libre" class="row small-ib-12 medium-ib-8 large-ib-8" placeholder="Recherche">

	<button class="textcenter" type="submit">Valider</button>
	

</form>



<div class=" whiteSpace clearfix small-ib-12 medium-ib-12 large-f-7">
	
	<h2>Résultats</h2>
	{% if resultats|length > 0 %}
	
		{% for resultat in resultats %}
			<div class="containerAnn large-ib-3 medium-ib-6 offset-sm-ib-1 small-ib-10">
				<a href="document{{resultat.id}}">
					<h3>{{resultat.titre|capitalize }}</h3>
					<div class="blocImage">
						<span><img src="{{resultat.image}}"/></span>
					</div>
				</a>
			</div>
		{% endfor %}

	{% else %}

		<div class="alert  alertInfo">
			<h3>Recherche</h3>
			<p>Aucun résultat</p>
		</div>


	{% endif %}


</div>


{% endblock %}
			